<!-- views/forgotpassword.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #7e848b;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
    
    .notification {
     padding: 10px;
     margin-bottom: 10px;
    border-radius: 5px;
    }


  </style>
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <form method="POST" action="/views/router/forgot-password" onsubmit="sendEmail(event)">
          <input type="text" name="email" id="email" placeholder="Email" required>
          <button type="submit">Confirmation Reset Password</button>
          <p>After clicking this, check your Email to continue your process</p>
          <div id="notification" class="notification" style="display: none;"></div> <!-- Tambahkan elemen notifikasi -->
        </form>
      </div>
      
      <script>
        function sendEmail(event) {
          event.preventDefault(); // Hindari pengiriman form secara default
      
          var email = document.getElementById("email").value;
          fetch('/views/router/forgot-password', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: email }),
          })
          .then(response => response.json())
          .then(data => {
            // Tampilkan notifikasi ke pengguna
            var notification = document.getElementById("notification");
            notification.innerText = 'Konfirmasi sudah berhasil. Cek email Anda.';
            notification.style.display = 'block';
          })
          .catch(error => {
            console.error('Error sending email:', error);
            // Tambahkan logika atau notifikasi ke pengguna jika diperlukan
          });
        }
      </script>
  </body>
</html>
