<!-- views/forgotpassword.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #7e848b;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
    .notification {
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      display: none;
    }

    .notification.success {
      background-color: #4caf50;
      color: white;
    }

    .notification.error {
      background-color: #f44336;
      color: white;
    }
    
  </style>
</head>
<body>
  <div class="container">
      <h1>Forgot Password</h1>
      <form method="POST" action="/views/router/forgot-password" onsubmit="sendEmail(event)">
        <input type="text" name="email" id="email" placeholder="Email" required>
        <button type="submit">Confirmation Reset Password</button>
        <!-- Tambahkan elemen notifikasi -->
        <div id="notification" class="notification"></div>
      </form>
  </div>

  <script>
    function sendEmail(event) {
      event.preventDefault(); // Hindari pengiriman form secara default
  
      var email = document.getElementById("email").value;
      var button = document.querySelector('button[type="submit"]'); // Pilih elemen button
  
      // Nonaktifkan button
      button.disabled = true;
  
      fetch('/views/router/forgot-password', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email: email }),
      })
      .then(response => response.json())
      .then(data => {
        // Tampilkan notifikasi ke pengguna
        var notification = document.querySelector('.notification'); // Pilih elemen notifikasi
        notification.innerText = data.message;
        notification.className = data.status === 'ok' ? 'notification success' : 'notification error';
        notification.style.display = 'block';
  
        // Nonaktifkan tombol untuk sementara waktu (1 menit = 60000 milidetik)
        setTimeout(function() {
          button.disabled = false;
        }, 60000);
      })
      .catch(error => {
        console.error('Error sending email:', error);
  
        // Tambahkan logika atau notifikasi ke pengguna jika diperlukan
  
        // Aktifkan kembali tombol jika terjadi kesalahan
        button.disabled = false;
      });
    }
  </script>  
</body>
</html>
