<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banking System API Aldowad</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #536780;
      margin-bottom: 20px;
    }

    p {
      color: #333;
      font-size: 18px;
      line-height: 1.5;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to Banking System API, created by Aldowad</h1>
    <p>
      This is the main page of the Banking System API application developed by Aldowad.
      The application is based on  banking system,
      allowing you to perform secure CRUD operations using JsonWebToken.
      Utilizing Prisma, Express, and Postgres, the application features three main sections:
      Register, Login, and Dashboard.
    </p>
  </div>
</body>
</html>
